/* Basic Button Styling */
.button {
    padding: 3px 3px;
    width: 150px;
    font-size: 16px;
    background-color: #0383fa;
    color: white;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .button:hover {
    background-color:aliceblue;  
    color: #0383fa;
    border-radius: 8px;    
  }
  
  
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 10px 20px;
  }
  
  .navbar-logo a {
    color: white;
    font-size: 24px;
    text-decoration: none;
  }
  
  .navbar-links {
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar-links li {
    margin: 0 15px;
  }
  
  .navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 12px;
  }
  
  .navbar-links a:hover {
    background-color: #0383fa;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
